<a href="https://colab.research.google.com/github/prabhatyadavcdac/Acedemic-Prediction/blob/main/Assignment%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# Take two integers from the user
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))

# Compare using all comparison operators
print(f"{num1} == {num2} is", num1 == num2)
print(f"{num1} != {num2} is", num1 != num2)
print(f"{num1} > {num2} is", num1 > num2)
print(f"{num1} < {num2} is", num1 < num2)
print(f"{num1} >= {num2} is", num1 >= num2)
print(f"{num1} <= {num2} is", num1 <= num2)

Enter the first integer: 33
Enter the second integer: 44
33 == 44 is False
33 != 44 is True
33 > 44 is False
33 < 44 is True
33 >= 44 is False
33 <= 44 is True

In [6]:
name = "Prabhat Yadav"
age = 33
print(f"Name is {name} and age {age} is welcome to Arbor for an wonderful journey")

Name is Prabhat Yadav and age 33 is welcome to Arbor for an wonderful journey

In [14]:
Is_student = True
print( "welcome to Arbor for an wonderful journey")
print(f"Name is {name} and age {age} is student {Is_student}")

welcome to Arbor for an wonderful journey
Name is Prabhat Yadav and age 33 is student True

In [15]:
Is_student = True
print( "welcome to Arbor for an wonderful journey")
print(f"Name is student ",Is_student)

welcome to Arbor for an wonderful journey
Name is student  True

In [21]:
a = 25
b = 4
# Addition
addition = a + b
print("Addition:", addition)

# Subtraction
subtraction = a - b
print ("Subtraction:", subtraction)

# Multiplication
multiplication = a * b
print ("Multiplication:", multiplication)

# Division
division = a / b
print ("Division (/):", division)

# Floor division
floor_division = a // b
print("Floor Division (//):", floor_division)

# Modulus
modulus = a % b
print("Modulus:", modulus)

# Exponentiation
exponentiation = a ** b
print("Exponentiation:", exponentiation)

# Show the difference between / and //
print("\nDifference between / and //:")
print("a / b =", a / b)
print("a // b =", a // b)
print(f"The Dierence Can Be Calculated that is {a/b}-{a//b} is ",a/b-a//b)

Addition: 29
Subtraction: 21
Multiplication: 100
Division (/): 6.25
Floor Division (//): 6
Modulus: 1
Exponentiation: 390625

Difference between / and //:
a / b = 6.25
a // b = 6
The Dierence Can Be Calculated that is 6.25-6 is  0.25

In [36]:
#Assignment operator
print("We are Going to See Various Assignment operator")
x = 10
print(f'Initial value: {x}')

x += 5
print("After 10 += 5 ",x)

x -= 3
print(f'After previous x value -= 3: {x}')

x *= 2
print(f'After previous x value *= 2: {x}')

x /= 4
print(f'After previous x value /= 4: {x}')

x %= 3
print(f'After previous x value %= 3: {x}')

x **= 2
print(f'After previous x value **= 2: {x}')

x //= 2
print(f'After previous x value //= 2: {x}')

We are Going to See Various Assignment operator
Initial value: 10
After 10 += 5  15
After previous x value -= 3: 12
After previous x value *= 2: 24
After previous x value /= 4: 6.0
After previous x value %= 3: 0.0
After previous x value **= 2: 0.0
After previous x value //= 2: 0.0

In [38]:
#checking "py" in "python programming" using membership
print('"Py" in "Python Programming":', "Py" in "Python Programming")

# Check if "Java" is not in "Python Programming" using membership
print('"Java" not in "Python Programming":', "Java" not in "Python Programming")

# Check if two variables referring to the same number have the same identity
a = 1000
b = 1000

print('a == b:', a == b)           # Checks if values are equal
print('a is b:', a is b)           # Checks if a and b refer to the same object
print('a is not b:', a is not b)   # Checks if a and b do not refer to the same object

"Py" in "Python Programming": True
"Java" not in "Python Programming": True
a == b: True
a is b: False
a is not b: True

In [40]:
txt = "DataAnalytics"

# First character
first_char = txt[0]

# Last character
last_char = txt[-1]

# Middle character (since the string length is 13, middle index is 6)
middle_char = txt[len(txt) // 2]

# Characters from index 2 to 6 (inclusive of start, exclusive of end)
substring = txt[2:7]

# String in reverse using slicing
reversed_txt = txt[::-1]

print("First character:", first_char)
print("Last character:", last_char)
print("Middle character:", middle_char)
print("Characters from index 2 to 6:", substring)
print("Reversed string:", reversed_txt)

First character: D
Last character: s
Middle character: a
Characters from index 2 to 6: taAna
Reversed string: scitylanAataD

In [41]:
#various inbuild String operations Available
sentence = "Python programming is FUN"

# Count how many times "o" appears
count_o = sentence.count("o")

# Convert to lowercase
lowercase_sentence = sentence.lower()

# Convert to uppercase
uppercase_sentence = sentence.upper()

# Replace "FUN" with "amazing"
replaced_sentence = sentence.replace("FUN", "amazing")

# Split into words
words = sentence.split()

# Print the results
print("Number of 'o's:", count_o)
print("Lowercase:", lowercase_sentence)
print("Uppercase:", uppercase_sentence)
print("Replaced sentence:", replaced_sentence)
print("Split into words:", words)

Number of 'o's: 2
Lowercase: python programming is fun
Uppercase: PYTHON PROGRAMMING IS FUN
Replaced sentence: Python programming is amazing
Split into words: ['Python', 'programming', 'is', 'FUN']

In [52]:
# Create a list with 5 different elements (mixed data types)
my_list = [42, "hello", 3.14, True, [1, 2, 3]]
print("My Created list",my_list)

# Append one element
my_list.append("new_element")
print("New List After Appending new_element ",my_list)

# Insert a new element at index 2
my_list.insert(2, "inserted_element")
print("After insertion of inserted_element the list is ",my_list)
# Remove the last element using pop()
last_element = my_list.pop()

# Reverse the list
my_list.reverse()

# Count how many times a specific value appears (for example, 42)
count_42 = my_list.count(42)

# Print the results
print("Finally Modified list:", my_list)
print("Popped element:", last_element)
print("Count of 42 in list:", count_42)

My Created list [42, 'hello', 3.14, True, [1, 2, 3]]
New List After Appending new_element  [42, 'hello', 3.14, True, [1, 2, 3], 'new_element']
After insertion of inserted_element the list is  [42, 'hello', 'inserted_element', 3.14, True, [1, 2, 3], 'new_element']
Finally Modified list: [[1, 2, 3], True, 3.14, 'inserted_element', 'hello', 42]
Popped element: new_element
Count of 42 in list: 1

In [54]:
list1 = [1, 2, 3]
list2 = [4, 5]

# Concatenate the lists
concatenated_list = list1 + list2
print("Concatenated list:", concatenated_list)

# Multiply list1 by 3
multiplied_list = list1 * 3
print("List1 multiplied by 3:", multiplied_list)

Concatenated list: [1, 2, 3, 4, 5]
List1 multiplied by 3: [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [55]:
# Create a tuple of 6 values
my_tuple = (10, 'apple', 3.14, True, 'banana', 10)

# Access the first and last elements
first_element = my_tuple[0]
last_element = my_tuple[-1]

# Slice the tuple from index 2 to 5 (excluding index 5)
slice_tuple = my_tuple[2:5]

# Count how many times a certain value occurs (e.g., 10)
count_10 = my_tuple.count(10)

# Find the index of a specific element (e.g., 'banana')
index_banana = my_tuple.index('banana')

# Print the results
print("First element:", first_element)
print("Last element:", last_element)
print("Slice from index 2 to 5:", slice_tuple)
print("Count of 10 in tuple:", count_10)
print("Index of 'banana':", index_banana)

First element: 10
Last element: 10
Slice from index 2 to 5: (3.14, True, 'banana')
Count of 10 in tuple: 2
Index of 'banana': 4